@charset "utf-8";
nav ul {
	padding:0;
	margin:0;
	list-style:none;
}

nav li {
	float:left;
	position:relative;
}

nav li a {
	display: block;
	height:50px;
	padding:10px;
	color:#030;
	text-decoration:none;
	line-height:50px; /* padding +20, line-height +50, total: +70 */
	border:solid 1px #FFC;
}

nav li a:hover {
	color:#fcc;
	background:#cff;
}

nav li ul {
	position:absolute;
	display:none;
	left:0;
	margin:0;
}

nav ul li:hover > ul { /* first ul inside li */
	display:block;
}

nav ul ul a {
	width:200px;
	background:#93C;
}


nav ul ul ul li {
	height: 50px;
}

nav ul ul li:hover > ul {
	display: block;
	position:absolute;
	top:0;
	left:100%; /* move 上一層的寬度 */
}
