@charset "utf-8";
nav ul {
	padding:0;
	margin:0;
	list-style:none;
}

nav li {
	float:left;
	position:relative;
}

nav li a {
    text-transform: uppercase;
	display: block;
	padding: 10px;
	color: #FF9;
	text-decoration: none;
	line-height: 40px; /* padding +20, line-height +60, total: +80 */
    border: solid 1px #FF9;
    border-width: 0px 0px 1px;
}

nav li a:hover {
	color: #FFF;
	background: rgba(0,0,0,.8);
    border-width: 1px 0px;
}

nav li ul {
	position: absolute;
	display: none;
	left: 0;
	margin: 0;
}

nav ul li:hover > ul { /* first ul inside li */
	display: block;
}

nav ul ul a {
	width: 200px;
	background: rgba(90,90,90,.8);
    border: solid 1px #FF9;
    border-width: 1px 0px 0px;
}


nav ul ul ul li {
	height: 61px;
}

nav ul ul li:hover > ul {
	display: block;
	position: absolute;
	top: 0;
	left: 100%; /* move 上一層的寬度 */
}
