@charset "utf-8";
/* CSS Document */
header, nav, ul, li, section, article, footer {
	text-align:center;
	/*border: solid 1px #C36;*/
}

header img {
    width:24px;
    border: solid 1px #FCF;
    border-radius:18px;
    padding:6px;
    margin-bottom:10px;
    margin-top:0px;
    margin-left:5px;
    margin-right:5px;
}

a {
    text-decoration:none;
}

h1 {
    color:#EEE;
    margin-top: 80px;
    margin-bottom:15px;
}

body {
	margin:0;
	padding:0;
    background-image:url("../images/background.jpg");
    background-repeat:no-repeat;
    background-position:right bottom;
    background-color:rgb(147,126,123);
    font-family: 'Exo', sans-serif;
}

nav {
	/*background-color:rgba(255,200,255,.6);*/
	margin:auto;
	padding:10px;
}


ul {
	margin:0;
	padding:0;
}

nav li {
	border: solid 1px #FCF;
    background-color:rgba(147,106,123,.9);
    border-radius:5px;
	display:inline;
	padding:10px;
    margin:5px;
}
nav li:hover {
	color: rgba(147,126,123,.9);
    background-color:#FCF;
}

nav li a {
	color: #FCF;
	text-decoration:none;
}

nav li a:hover {
	color: rgba(147,126,123,.9);
    background-color:#FCF;
}

section {
	width:80%;
	margin:auto;
}

section a {
    text-decoration:none;
    cursor:auto;
}

section h2 {
    margin:40px;
    padding:20px;
	border: solid 1px #FFF;
    background-color:rgba(147,126,123,.9);
    border-radius:5px;
    color:#FFF;
}

article {
    width:180px;
    border: solid 1px #FCF;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
	display:inline-block;
}

article img {
    width:150px;
    height:150px;
    border-radius:75px;
}

footer {
    color:#FFF;
    font-size:12px;
    background-color:rgba(0,0,0,.6);
	position:absolute;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
}
.article_has_link {
	color: #FCF;
	text-decoration:none;
    background:rgba(147,106,123,.9);
	width:180px;
}

.article_has_link:hover {
	color: rgb(147,126,123);
	cursor:pointer;
	background:#FCF;
}

.article_no_link {
    color: #333;
    background:rgba(147,126,123,.9);
}

.article_no_link:hover {
    cursor:auto;
}
