@import url('normalize.css');

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    overflow: hidden;
}

.black, .pics a, .pics img {
    position: absolute;
    text-decoration: none;
    top: 0;
    left: 0;
}

.black {
    background: #000;
    z-index: -1;
}

.page, .pics a{
    width: 100%;
}

.pics img {
    margin: auto;
    opacity: 0.2;
    z-index: -1;
}

.title {
    display:block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.block, h1, h2 {
    margin: 0 5px 5px 0;
}
.block, h1 {
    position: relative;
    display: inline-block;
    float: left;
    top: 0;
}

.block {
    width: 20px;
    height: 36px;
    background: #0F0;
}

h1 {
    width: 100%;
    color: #FFF;
    font-size: 60px;
    line-height: 60px;
    vertical-align: middle;
}

h2 {
    color: #0F0;
    line-height: 36px;
    vertical-align: middle;
    margin-left: 30px;
}
@media only screen and (min-width: 768px) {
    .pics img {
        width: 2000px;
    }
}
