@import url('normalize.css');

* {
    padding:0;
    margin:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    text-decoration:none;
}

.logo {
    background:url(../images/LOGO.png) no-repeat;
    background-size: 100%;
    width: 250px;
    height: 60px;
    margin:auto;
    margin-top:20px;
}

p {
    color:#1e1e1e;
    border-top: 1px solid #1e1e1e;
    padding: 5px;
    background:#FFF;
}

body {
    position:relative;
    font-family:"微軟正黑體","Microsoft JhengHei",sans-serif;
    text-align:center;
    vertical-align:middle;
    background:url(../images/cloud.png) repeat-x;
}

.box {
    margin:auto;
    width:90%;
    max-width:800px;
    border-top:40px solid #1e1e1e;
    background:#FFF;
}

.flex-caption {
    background:#1e1e1e;
    color:#b3ff66;
    text-shadow:0 -1px 0 rgba(0,0,0,.3);
    height:40px;
    line-height:40px;
    margin-top:4px;
}

.background {
    background:url(../images/cover.png) repeat-x;
    position:absolute;
    width:100%;
    height:200px;
    z-index: -1;
    opacity:0.8;
}
